/* FONTS START */

/* 
font-family: 'PT Sans', sans-serif;
*/

/* FONTS END */

/* GLOBAL SETUP START */
body{
    margin: 0;
    padding: 0;
}

section{
    padding: 100px 0;
}

.cmn-head{}

.cmn-btn{}
/* GLOBAL SETUP END */











/* NAME SETUP START */

/* NAME SETUP END */

